@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');

$body-font-family: 'Source Serif Pro', serif;
$headings: 'Source Serif Pro', serif;

$link-menu-color: #00000099;
$gray-light: #000000061;
