@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');

$body-font: 'Source Serif Pro', serif;
$head: 'Source Serif Pro', serif;

$gray-text: #00000099;
$gray-light-text:#FFFFFF80;
$gray-light: #000000061;
$pink-pastel:#CEABA0;
$pastel-black : #292A2B;
$light-black : #2E2E32;
$black: #232325;

//Media Query

$breakpoints: (
        desktop: 769px,
);

//== Media queries breakpoints
@mixin desktop {
  @media screen and  (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
